<form action="/authenticate" method="post">
<input name="username" type="text">
<input name="password" type="password">
<input type="hidden" name="redirect_uri" value="<%= data.uri %>"">
<input type="submit" value="Submit">
</form> 